.select {
    border: 1px solid;
    border-radius: 2px;
    width: 100px;
    position: relative;
    outline-color: #1ea7fd;
}
/*.select:focus {*/
/*    outline-color: red; !* Цвет обводки при фокусировке *!*/
/*    outline-style: solid; !* Стиль обводки при фокусировке *!*/
/*    outline-width: 2px; !* Ширина обводки при фокусировке *!*/
/*}*/

.items {
    border: 1px solid black;
    position: absolute;
    top: 23px;
    left: -1px;
    width: 100px;
    display: none;
    border-radius: 2px;
}

.item {
    padding-left: 5px;
}
.hover {
    background: #1ea7fd;
    color: white;
}

.open {
    display: block;
}

.title {
    margin: 0;
}
.titltewrap {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
    justify-content: space-between;
}

.arrowSize {
    width: 10px;
    height: 10px;
}
.arrowBlue {
    /*stroke: blue;*/
    fill: #1ea7fd;
}

/*.select.active .items {*/
/*    display: block*/
/*}*/
